/*promociones*/
.carousel-caption{    
background: rgba(100, 98, 98, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
}

/*Formulario*/


.escala-check {
    display: flex;
    justify-content: right;
}

.buscar-vuelo-btn {
    display: flex;
}

#via-sen-tab,
#via-redo-tab {
    color: #000;
}


/*membresias*/
#membresias-tipos .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#membresias-tipos .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}

#membresias-tipos.owl-carousel .owl-dots .owl-dot.active span,
#membresias-tipos.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#membresias-tipos.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#membresias-tipos.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#membresias-tipos.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}